@use "../../variables.scss";
.kalender{
    
    
    &__noActivitiesHeading{
   color: variables.$heading-white;
   font-size: variables.$middle-text-24;
   text-align: center;
   font-family: variables.$ubuntu;
        
    }}