@use "../../../variables.scss";
.opretBruger{
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    &__image{
        object-fit: cover;
        z-index: -1;
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 100%;
    }

    &__shadowDiv{
       
      z-index: -1;
      
        
    
  
        overflow: hidden;
    }
    &__contentDiv{
        grid-column: 1;
       
       align-self: center;
        grid-row: 1;
    }
    &__form{
        width: 100%;
    justify-content: center;
       display: flex;
      align-content: center;
      align-items: center;
       z-index: 2;
       flex-direction: column;
       gap: 0.9375rem /* 15 / 16 = 0.9375 */
       
        
    }
    &__heading{
    max-width: 31.25rem /* 500 / 16 = 31.25 */;
    width: 80%;
    font-weight: 500;
    margin: 0 auto;
    display: block;
    margin-bottom: 0.625rem /* 10 / 16 = 0.625 */;
    font-family: variables.$ubuntu;
    color: variables.$text-white;
    font-size: calc(variables.$big-heading-36 + 0.75rem /* 12 / 16 = 0.75 */);
       
    }
    &__error{
         max-width: 31.25rem /* 500 / 16 = 31.25 */;
    width: 80%;
    font-weight: 500;
    margin: 0 auto;
    display: block;
    margin-bottom: 0.625rem /* 10 / 16 = 0.625 */;
    font-family: variables.$ubuntu;
    color: red;
    font-size: variables.$big-heading-36 ;
    }
    &__text{
         font-size: variables.$middle-text-24 ;
   font-family: variables.$ubuntu;
     text-align: center;
     color: white;
    }

   
}