@use "../../../variables.scss";
.mainLayoutWrapper{
   
    background-color: variables.$purple-background-color;
   
    &__header{
 padding: 0 1.75rem /* 28 / 16 = 1.75 */;
    }
    &__main{
        
        
          min-height: 100vh;
           padding: 0 1.75rem /* 28 / 16 = 1.75 */;
            padding-bottom: 5rem;
    }
}
