@use "../../../variables.scss";
.topHeading{
    padding-top: 2rem /* 32 / 16 = 2 */;
    font-size: variables.$big-heading-36;
    font-family: variables.$ubuntu;
    color: variables.$heading-white;

}