@use "../../variables.scss";
.topImage{
    height: 50vh;
    display: grid;
    background-size: cover;
    align-content: end;
    justify-content: end;
    padding-right: 1.6875rem /* 27 / 16 = 1.6875 */;
    &__overlay{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.722);
        height: 100vh;
        width: 100%;
        
        display: grid;
        z-index: 10;
        align-content: center;
    }
    &__link{
        display: inline;
        text-align: center;
         font-size: variables.$middle-text-24;
         color: white;
         font-family: variables.$ubuntu;
         text-decoration: none;
         background-color: white;
         color: black;
         padding: 1rem;
border-radius: 1.125rem /* 18 / 16 = 1.125 */;
border: 1pxsolid black;
    }
    &__text{
        text-align: center;
       
        max-width: 80%;
        margin: 0 auto;
        font-size: variables.$middle-text-24;
        color: white;
        font-family: variables.$ubuntu;
    }
    &__selectDiv{
        padding-top: 1rem;
        justify-content: space-between;
        width: 80%;
        max-width: 31.25rem /* 500 / 16 = 31.25 */;
        margin: 0 auto;
        display: flex;
        gap: 3rem;
    }
    &__button{
        text-align: center;
       border-radius: 1.125rem /* 18 / 16 = 1.125 */;
         background-color: rgb(222, 222, 222);
         color: black;
          font-size: variables.$middle-text-24;
      padding: 1rem;
         font-family: variables.$ubuntu;
border: none;
    }
    &__messageBox{
         position: absolute;
        
         animation-name: messagebox;
        animation-duration: 4s;
         width: 100%;
         padding: 1rem;

    }
    &__message{
        color: white;
        font-size:  variables.$small-text-18;
        font-family: variables.$ubuntu;
        text-align: center;
        animation-name: message;
        animation-duration: 1s;
        color: white;

        
       
    }
}



@keyframes messagebox {
  from {background-color: transparent;}
  to {background-color: variables.$purple-background-color;}
}
@keyframes message {
  from {margin-left: -100%; color: transparent;}
  to {margin-left: 0%; color: white;}
}

@media only screen and (min-width: 1000px) {
    main{
        background-color: variables.$purple-background-color;
    }
.topImage{
     max-width: 93.75rem /* 1500 / 16 = 93.75 */;
        width: 70%;
    margin: 0 auto;
}
}