/*Fonts*/
$roboto: "Roboto", sans-serif;
$racing-sans-one: "Racing Sans One", sans-serif;
$ubuntu:  "Ubuntu", sans-serif;
/*Fonts-end*/


/*Colors*/
$heading-pink: #E856EB;
$purple-stroke: #431567;
$text-div-overlay: #e1a1e9e6;

$purple-border: #913693;
$purple-button: #5E2E53;
$purple-background-color: #5E2E53;
$text-white: #E9E9E9;
$heading-white: #EAEAEA;
$footer-background: #E9E9E9;
$purple-overlay: #5e2e5380;
$plaholder-grey: #999999;
/*Colors-end*/


/*Font-sizes*/
$big-heading-36: 2.25rem /* 36 / 16 = 2.25 */;
$middle-text-24: 1.5rem /* 24 / 16 = 1.5 */;
$small-text-18: 1.125rem /* 18 / 16 = 1.125 */;
