$roboto: "Roboto", sans-serif;
$racing-sans-one: "Racing Sans One", sans-serif;
$ubuntu:  "Ubuntu", sans-serif;
$heading-pink: #E856EB;
$purple-stroke: #431567;
$purple-border: #913693;
$purple-button: #5E2E53;
$text-white: #E9E9E9;
$purple-overlay: #5e2e5380